/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.info {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.info__img {
  width: 100%;
}
.info__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .info {
    text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.main__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add__wrapper {
  display: flex;
}
.incomplete__list,
.completed__list {
  margin: 0;
  padding: 0px;
}
.incomplete__elem,
.completed__elem,
.incomplete__title,
.completed__title {
  list-style: none;
}
.main__input,
.main__button{
  outline: none;
}
.main__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.main__button:hover {
  color: #3a3A3a;
}
/* Heading */
.incomplete__title,
.completed__title,
.add__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.main__input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.main__input_text:focus {
  color: #333;
}

/* New Task */
.add__label {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}
.add__button {
  color: #0FC57C;
}

/* Task list */
.incomplete__elem,
.completed__elem {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.incomplete__elem > *,
.completed__elem > * {
  vertical-align: middle;
}

.main__input_checkbox {
  margin: 0 10px;
}
.main__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.main__input_text {
  width: 226px;
}
.delete_button:hover {
  color: #CF2323;
}
.main__img_del {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.main__img_del:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed__list .main__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.completed__list .main__input_text,
.incomplete__list .main__input_text {
  display: none;
}

.elem__edit_mode .main__input_text {
  display: inline-block;
  width: 224px;
}

.elem__edit_mode .main__label {
  display: none;
}